.home_section{
    padding: 2em;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_section h1{
    font-size: 2.5em;
    margin-bottom: 2.5em;

}

.home_section h2{
    background-color: rgb(123, 71, 172);
    color: #ddd;
    text-align: center;
    font-size: 1.8em;

    border-radius: 10px;

    padding: 10px;
    margin: 5vh;
}

.home_section p {
    margin-bottom: 1em;
}

.home_section input{
    padding: 0 10vh;

}

.books_added{
    width: 80vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book_container{
    cursor: pointer;
    width: auto;
    height: auto;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.book_container ul{
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.book_card{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1px;
    transition: transform 0.3s ease;
}

.book_card h3 {
    font-size: 18px;
    margin: 10px 0 5px;
  }
  
  .book_card p {
    font-size: 14px;
    color: #666;
  }
  
  .book_card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }


.most_downloaded{
    width: 80vh;
    height: auto;
    padding-top: 7em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}