body{
    margin: 0;
    padding: 0;

    color: black;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.nav_bar{
    padding: 2px;

    background-color: darkslateblue;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_logo{
    padding: 1rem 0 0 1.5rem ;

    text-decoration: none;
}

.nav_menu1{
    padding: 0 10rem 0 0;

    list-style: none;

    display: flex;
    gap: 10px;
}

.books{
    padding: 3px;

    border: 1px solid #ddd;
    border-radius: 5px;
}

.books:hover{
    cursor: pointer;
    transition: .3s;
    background-color: cornsilk;
    color: cadetblue;
}

.search_bar{
    margin: 1px 0px;
    padding: 3px 30px 1px 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
}

.nav_menu2{
    padding: 0 1rem;

    list-style: none;

    display: flex;
    gap: 10px;
}