.nav_bar{
    padding: 20px;
    margin: 0;

    background-color: darkslateblue;
    border-radius: 0px 0px 5px 5px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_menu1{
    padding: 0 6rem 0 0;

    list-style: none;

    display: flex;
    gap: 10px;
}

.nav_menu1_item{
    padding-top: 3.5px;
}

.search_bar{
    margin: 1px 0px;
    padding: 3px 30px 1px 20px;

    border: 1px solid #ddd;
    border-radius: 5px;
}

.nav_menu2{
    padding: 0 1rem;
    list-style: none;

    display: flex;
    gap: 10px;
}