.nav_bar{
    padding: 20px;
    margin: 1px;

    background-color: darkslateblue;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_menu1{
    padding: 0 10rem 0 0;

    list-style: none;

    display: flex;
    gap: 10px;
}

.search_bar{
    margin: 1px 0px;
    padding: 3px 30px 1px 10px;

    border: 1px solid #ddd;
    border-radius: 5px;
}

.nav_menu2{
    padding: 0 1rem;

    list-style: none;

    display: flex;
    gap: 10px;
}